<?xml version="1.0"?>
<module name="devc-serxzynq">
	<type>Element</type>
	<classification>Driver</classification>

        <description>
                <short>Serial driver for serxzynq compatible uarts</short>
                <abstract>
                        <![CDATA[The devc-serxzynq manager is a small serial device manager for QNX Neutrino.]]>
                </abstract>
        </description>

	<supports>
		<availability>
			<cpu isa="arm"><byteOrder>be</byteOrder><byteOrder>le</byteOrder></cpu>
			<cpu isa="arm"><byteOrder>le.v7</byteOrder></cpu>
		</availability>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>
	<GroupOwner>hw</GroupOwner>

	<contents>
		<package isInternal="true">
		<component id="serxzynq" generated="true">
			<location basedir="{cpu}/{endian}"
				 runtime="true">devc-serxzynq</location>
		</component>
		<component id="tserxzynq" generated="true">
			<location basedir="{cpu}/{endian}"
				 runtime="true">devc-tserxzynq</location>
		</component>
		</package>
	</contents>

	<requires>
		<part build="true" location="lib/io-char"/>
		<part build="false" location="hardware/devc"/>
	</requires>

</module>
